
<!-- navigation -->

  
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home" style="margin-inline:  2%;">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="home">Inicio</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="projects">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="jurado">Jurado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="premiacion">Premiación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="about">Creadores</a>
          </li>  
        </ul>
        <!-- Dropdown login  -->
        <div class="d-flex" >
          <div ngbDropdown   placement="bottom-end" >
            <button type="button" class="button-85" id="dropdownForm1" ngbDropdownToggle >Login Jurado</button>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu dropdown-menu-end" style="width:max-content; margin-top: 1rem;">
              <form class="px-4 py-3">
                <div class="mb-3">
                  <label for="exampleDropdownFormEmail1">Usuario</label>
                  <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Usuario" autocomplete="username">
                </div>
                <div class="mb-3">
                  <label for="exampleDropdownFormPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña" autocomplete="current-password">
                </div>
                <br>
                <button type="submit" class="button-85">Ingresar</button>
              </form>
            </div>
          </div>
        </div>
        <!-- dropdown login end -->
      </div>
    </div>
  </nav>
  
  <div style="height:3.5rem;"></div>

<!-- //navigation -->
<!-- <div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_left">
            <h1><a href="index.html">"Feria Tecnologica - UdeO - 2022</a></h1>
        </div>
    </div>
</div> -->
<!-- //header -->
