/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "assets/CSS/BotonArcoiris.css";
@import "assets/CSS/Neon.css";
@import "assets/CSS/CardsProyects.css";
html, body {
	height: 100%;
}

body{
    background-color: rgb(33,37,41);
    background-image:url(assets\Img\vecteezy_small-square-geometric-shape-with-modern-black-metallic_7169503.jpg) ;
    color:#fff;
}
.footer{
    background-color: rgb(33,37,41) !important;
}

@font-face {
    font-family: MANDO;
    src: url(assets/Font/Mandalore-K77lD.otf);
}


.mando{
    font-family: Mando;
    letter-spacing: 4px;
}

.Titulo{
    font-size: 4rem;
}

@media only screen and (max-width: 600px) {
    .Titulo{
        font-size: 3rem;
    }
}

.dropdown-menu{
    background-color: rgb(22, 25, 28) !important;
    color: #fff !important;
    box-shadow: 
    0 0 2px #fff,
    5px 5px 20px #9312fc,
    -5px -5px 20px #5012fc;
    
    margin-block: 55px;
}

/* Animation */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* End Animation */

.fadeIn {
    animation-name: fadeIn;
}

.offcanvas{
    background-color: black !important;
    color: #fff !important;
    box-shadow: 
    0 0 5px #fff,
    0 0 40px #0ff,
    0 0 60px #0ff !important;
    
}

.offcanvas-header{
    margin-block: 0px !important;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(66, 255, 255, 0.685); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(173, 49, 223, 0.767); 
  }