<div class="row animated fadeIn">
    <div class="offset-md-2 col-md-8 autoHeight">
        <a href="#" class="canvas txt-Gold">
            <div class="canvas_border neon-lg-gold">
                <svg>
                    <defs><linearGradient id="grad-orange" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color:rgb(251, 205, 77);stop-opacity:1"></stop><stop offset="100%" style="stop-color:rgb(236, 178, 60);stop-opacity:1"></stop></linearGradient><linearGradient id="grad-red" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" stop-color="#D34F48"></stop><stop offset="100%" stop-color="#772522"></stop></linearGradient></defs>
                    <rect id="rect-grad" class="rect-gradient" fill="none" stroke="url(#grad-orange)" stroke-linecap="square" stroke-width="4" stroke-miterlimit="30" width="100%" height="100%"></rect>
                </svg>
            </div>
            <div class="canvas_img-wrapper">
                <img class="canvas_img" src={{PrimerLugar.imagen}} alt="">
            </div>
            <div class="canvas_copy">
                <span class="canvas_copy_subtitle ">{{PrimerLugar.categoria}}</span>
                <strong class="canvas_copy_title">#1er LUGAR</strong>
                
                <span class="canvas_copy_details">{{PrimerLugar.titulo}}</span>
            </div>
        </a>
    </div>
    
	
</div>
<div class="row">
    
    <div class="offset-md-1 col-md-5 autoHeight">
        <a href="#" class="canvas txt-Silver">
            <div class="canvas_border neon-md-silver">
            </div>
            <div class="canvas_img-wrapper">
                <img class="canvas_img" src={{SegundoLugar.imagen}} alt="">
            </div>
            <div class="canvas_copy">
                <span class="canvas_copy_subtitle">{{SegundoLugar.categoria}}</span>
                <strong class="canvas_copy_title">#2do LUGAR</strong>
                <span class="canvas_copy_details">{{TercerLugar.titulo}}</span>
            </div>
        </a>
    </div>
    <div class=" col-md-5 autoHeight">
        <a href="#" class="canvas txt-Bronze">
            <div class="canvas_border neon-md-bronze">
            </div>
            <div class="canvas_img-wrapper">
                <img class="canvas_img" src={{TercerLugar.imagen}} alt="">
            </div>
            <div class="canvas_copy">
                <span class="canvas_copy_subtitle">{{TercerLugar.categoria}}</span>
                <strong class="canvas_copy_title">#3er LUGAR</strong>
                <span class="canvas_copy_details">{{TercerLugar.titulo}}</span>
            </div>
        </a>
    </div>
	
	
</div>
<br>
<br>
<br>