.button-85 {
    padding: 0.6em 2em;
    border: none !important;
    
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff00c8,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
    border: none !important;
  }



/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/*  Botones neon */
.button-neon {
  color: #da49b3;
  border: 6px solid #da49b3;
  border-radius:15px;
  padding: 10px 10px;
  font-size: 20px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 1px #da49b3) drop-shadow(0 0 15px #da49b3) contrast(1.5) brightness(1);
  transition: .5s;
}

.button-neon:hover {
  color: black;
  background-color: #da49b3;
  filter: drop-shadow(0 0 20px #da49b3) contrast(2) brightness(2);
}

.button-neon.btnVerde {
  border-radius:12px;
  padding: 7px 7px;
  font-size: 15px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight:normal;
  transition: .5s;
  color: #3de264;
  border: 3px solid #3de264;
  filter: drop-shadow(0 0 1px #3de264) drop-shadow(0 0 3px #3de264) contrast(1.5) brightness(1);
  
}

.button-neon.btnVerde:hover {
  color: black;
  background-color: #3de264;
  filter: drop-shadow(0 0 20px #3de264) contrast(2) brightness(2);
}

.button-neon.btnRojo {
  border-radius:12px;
  padding: 7px 7px;
  font-size: 15px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight:normal;
  transition: .5s;
  color: #da4949;
  border: 3px solid #da4949;
  filter: drop-shadow(0 0 1px #da4949) drop-shadow(0 0 3px #da4949) contrast(1.5) brightness(1);
  
}

.button-neon.btnRojo:hover {
  color: black;
  background-color: #da4949;
  filter: drop-shadow(0 0 20px #da4949) contrast(2) brightness(2);
}

.button-neon.btnGris {
  border-radius:12px;
  padding: 7px 7px;
  font-size: 15px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight:normal;
  transition: .5s;
  color: #636363;
  border: 3px solid #636363;
  filter: drop-shadow(0 0 1px #636363) drop-shadow(0 0 3px #636363) contrast(1.5) brightness(1);
  
}

.button-neon.btnGris:hover {
  color: black;
  background-color: #636363;
  filter: drop-shadow(0 0 20px #636363) contrast(2) brightness(2);
}