.neon-lg-celeste {
    box-shadow: 
    0 0 5px #fff,
    0 0 40px #0ff,
    0 0 60px #0ff;
    
    margin-block: 55px;
}
.neon-lg-purpura {
    box-shadow: 
    0 0 5px #fff,
    0 0 40px #9312fc,
    0 0 60px #9312fc;
    
    margin-block: 55px;
}

.neon-md-celeste {
    box-shadow: 
    0 0 5px #fff,
    0 0 10px #0ff,
    0 0 30px #0ff;
    
    margin-block: 55px;
}

.neon-md-purpura {
    box-shadow: 
    0 0 5px #fff,
    0 0 10px #9312fc,
    0 0 30px #9312fc;
    
    margin-block: 55px;
}

.neon-lg-mixed {
    box-shadow: 
    0 0 5px #fff,
    0 0 40px #0ff,
    0 0 60px #0ff,
    -20rem 0 40px #1270fc,
    20rem 0 40px rgb(0, 255, 0);
    
    margin-block: 55px;
}
.neon-tx-lg-celeste{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 10px #fff,
    0 0 30px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.neon-tx-lg-purpura{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 4px #fff,
    0 0 35px #fff,
    0 0 40px #9312fc,
    0 0 80px #9312fc,
    0 0 90px #9312fc,
    0 0 100px #9312fc,
    0 0 150px #9312fc;
}


.neon-tx-celeste{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 2px #fff,
    0 0 15px #fff,
    0 0 30px #0ff,
    0 0 35px #0ff;
}

.neon-tx-purpura{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 2px #fff,
    0 0 15px #fff,
    0 0 30px #9312fc,
    0 0 35px #9312fc;
}

.neon-tx-gold{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 2px #fff,
    0 0 15px #fff,
    0 0 30px #AE8625,
    0 0 35px #F7EF8A;
}

.neon-tx-silver{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 2px #fff,
    0 0 15px #fff,
    0 0 30px #545454,
    0 0 35px #c4c4c4;
}

.neon-tx-rojo{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 2px #fff,
    0 0 15px #fff,
    0 0 30px #fc1212,
    0 0 35px #fc1212;
}
.neon-tx-rojo-border{
    color: #fff;
    line-height: 100px;
    text-shadow:
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0),
    0 0 5px rgb(0, 0, 0),
    0 0 10px rgb(255, 0, 0),
    0 0 15px #fc1212,
    0 0 20px #fc1212;
}

.neon-lg-gold {
    box-shadow: 
    0 0 5px #fff,
    0 0 80px #F7EF8A,
    0 0 50px #D2AC47,
    0 0 40px #EDC967,
    3rem 0 40px #EDC967,
    8rem 0 90px rgba(237, 201, 103, 0.288),
    -3rem 0 40px #AE8625; 
}

.neon-md-silver {
    box-shadow: 
    0 0 5px #fff,
    0 0 80px #c4c4c4,
    0 0 45px #9c9c9c,
    2rem 0 30px #acacac,
    -2rem 0 30px #545454; 
}
.neon-md-bronze {
    box-shadow: 
    0 0 5px #fff,
    0 0 80px #9C7A3C,
    0 0 45px #895E1A,
    2rem 0 30px #C4624C,
    -2rem 0 30px #723e18
    ; 
}



