<!-- <app-loading *ngIf="loading"> -->
<div style="white-space:normal !important; user-select: none;">
    <span class="animated fadeIn"></span>
    <div class="content animated fadeIn min-width: 300px; min-height: 400px;">
        <div class="animated fadeIn" [align]="">
            <img [src]="projectItem.imgCarta" alt="" class="img-thumb animated fadeIn">
            <!-- <iframe width="100%" 
                height="100%" 
                [src]="sanitizer.bypassSecurityTrustResourceUrl(projectItem.urlVideo)"
                title="YouTube video player" 
                frameborder="0"
                allow="accelerometer; 
                autoplay; 
                clipboard-write; 
                encrypted-media; 
                gyroscope; 
                picture-in-picture"
                allowfullscreen>
            </iframe> -->
        </div>
        <h2>{{projectItem.titulo}}</h2>
        <p>{{projectItem.descripcion}}</p>
        <a class="nav-link" [routerLink]="['../details/'+projectItem.idProyecto]">Projects details!</a>
    </div>
</div>
<!-- </app-loading> -->