<h1 class="title neon-tx-lg-purpura mando animated fadeIn">Creadores</h1><br />
<div class="containerAbout animated fadeIn" style="opacity: 1;">
    <div class="post offset-md-2 col-md-8 text-center" style="margin: 1rem;">
        <div class="header_post">
            <img src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
        </div>
        <div class="body_post">
            <div class="post_content">
                <h1>Emanuel Contreras Figueroa</h1>
                <p>Estudiante de Ingenieria en Sistemas de 4to año. Encargado de proyecto y desarrollorador de Back-End
                    de las API's
                    con las teconologias C# con ASP.NET Core y Front End en Angular por medio de TypeScript usando como
                    Base de
                    Datos Microsoft SQL Server 2022.</p>
                <div class="container_infos">
                    <!-- <div class="postedBy">
                        <span>author</span>
                        John Doe
                    </div> -->
                    <div class="container_tags">
                        <span>tags</span>
                        <div class="tags">
                            <ul>
                                <li>design</li>
                                <li>front end</li>
                                <li>back end</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post offset-md-2 col-md-8 text-center" style="margin: 1rem;">
        <div class="header_post">
            <img src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
        </div>
        <div class="body_post">
            <div class="post_content">
                <h1>Erick Leonel López Diaz</h1>
                <p>Estudiante de Ingenieria en Sistemas de 4to año. Desarrollorador de Front End en Angular 14.0.1 por
                    medio de TypeScript y apoyo en el Back-End con las teconologias C# con ASP.NET Core usando como Base
                    de Datos Microsoft SQL Server 2022.</p>
                <div class="container_infos">
                    <!-- <div class="postedBy">
                        <span>author</span>
                        <h3 class="author">John Doe</h3>
                    </div> -->
                    <div class="container_tags">
                        <span>tags</span>
                        <div class="tags">
                            <ul>
                                <li>design</li>
                                <li>front end</li>
                                <li>back end</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>