<div class="offset-md-2 col-md-8 text-center" style="margin-top: 1rem;">
    <h1 class="neon-tx-lg-purpura mando Titulo"> Feria tecnológica 2022 </h1>
    
    
</div>



<div class="neon-lg-mixed col-md-12">
    <app-carousel></app-carousel>
</div>
<div class="MenuContainer offset-md-1 col-md-10">
    <div class="container">
        <div class="card">
          <div class="box">
            <div class="content">
              <h2><i class="bi bi-people"></i></h2>
              <h3 class="mando">Jurado</h3>
              <p>Conoce al personal docente e invitados que valoraran los proyectos</p>
              <a routerLink="/jurado">Jurado</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2><i class="bi bi-robot"></i></h2>
              <h3 class="mando">Proyectos</h3>
              <p>Explora todos los proyectos los proyectos que se realizados por estudiantes y obtén acceso a los directos que realizaran en vivo</p>
              <a routerLink="/projects">Proyectos</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2><i class="bi bi-award"></i></h2>
              <h3 class="mando">Premiación</h3>
              <p>Mira los reconocimientos que han obtenido los proyectos únicos y espera al gran ganador al final del evento </p>
              <a routerLink="/premiacion">Premiación</a>
            </div>
          </div>
        </div>
      </div>
    
</div>
