<!-- Site footer -->
<footer class="site-footer" style="opacity: .75;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">2022.com <i>FERIA UDEO 2022 </i> Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nam, impedit alias. Sit, soluta magni placeat porro nemo eius cum, consectetur in
                    repellat non, expedita amet.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Languages</h6>
                <ul class="footer-links">
                    <li>
                        <a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">C#</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://developer.mozilla.org/es/docs/Web/JavaScript">JavaScript</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.typescriptlang.org/">TypeScript</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://angular.io/">Angular</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li>
                        <a target="_blank" href="">About Us</a>
                    </li>
                    <li>
                        <a target="_blank" href="">Contact Us</a>
                    </li>
                    <li>
                        <a target="_blank" href="">Contribute</a>
                    </li>
                    <li>
                        <a target="_blank" href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a target="_blank" href="">Sitemap</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">...</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li>
                        <a target="_blank" class="facebook" href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a target="_blank" class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" class="github" href="https://github.com/EmaCoF/Feria-Udeo-2022"><i
                                class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a target="_blank" class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End Site footer -->